# =========================
# Visual Studio Build Files
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Intermediate & Build output
x64/
Debug/
Release/
*.obj
*.exe
*.log
*.pdb
*.ipch
*.cache

# =========================
# Ignore only MLflow model.pkl files
# =========================
*.pkl
mlflow/mlruns/**/artifacts/model/model.pkl
mlflow/mlruns/110777770847680835/bb1f56b141354799b46f90dc06e132c4/artifacts/model/model.pkl

# =========================
# OS / Editor Junk
# =========================
.DS_Store
Thumbs.db
*.swp

# =========================
# Python (if used with MLflow)
# =========================
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
